#selector-statut {
  position: relative;
  z-index: 100;
  top: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  #selector-statut-choice {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 60px);
    height: 100%;
    background: $color-primary;
    background: linear-gradient(-90deg, $color-primary 0%, $color-secondary 100%);
    color: $white;
    font-size: 1.5em;
    padding-left: 20px;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      font-size: 1.8em;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 60px;
      transform: translateX(50%) translateY(-50%);
      content: "";
      display: block;
      background: url('/assets/img/arrow/arrow-down-white.svg');
      width: 19px;
      height: 11px;
    }
  }

  #selector-statut-list-choice {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 600;
    background: rgba($black, .75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity ease .3s;

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      li {
        position: relative;
        display: block;
        background: linear-gradient(-90deg, $white 0%, $white 100%);
        width: 200px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 50px;
        font-size: 1.8em;
        font-weight: 800;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          color: $white;
          background: linear-gradient(-90deg, $color-primary 0%, $color-secondary 100%);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  #link-selector-statut {
    position: relative;
    background: $white;
    display: flex;
    align-items: center;
    width: 60px;
    height: 100%;

    @include media-breakpoint-up(lg) {
      width: 260px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: -24px;
      content: "";
      display: block;
      background: url('/assets/img/triangle/triangle.svg');
      width: 24px;
      height: 100%;
      background-size: 100% 100% !important;
      background-repeat: no-repeat !important;
    }

    span {
      display: none;
      background: -webkit-linear-gradient($color-secondary, $color-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: none;
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: 800;
      padding-left: 30px;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 40px;
      transform: translateX(50%) translateY(-50%);
      content: "";
      display: block;
      background: url('/assets/img/arrow/arrow-right-color.svg');
      width: 24px;
      height: 14px;
    }
  }
}
